extends layouts/legal/default

block content
  div.container
    div.row
      div.col-sm
        form
          div.form-row
            div.form-group.col-sm
              label First name
              input(type="text" required placeholder="First name")
            div.form-group.col-sm
              label Last name
              input(type="text" required placeholder="Last name")
          div.form-group
            label Email
            input(type="email" required placeholder="Email")
          div.form-group
            select(required).form-control
              option(selected) Choose an option
              option Reporting bug
              option General feedback
          div.form-group
            label Message
            textarea(row="3" required).form-control
          div.form-group
            button(type="submit" class="btn btn-primary") Send