extends layouts/legal/default

block content
  div.container
    h1 Terms of service
    p By using the Bum Buddy application and Bum Buddy service you are agreeing to be bound by the following terms and conditions ("Terms of Use").
    p
      strong Basic Terms
    ol
      li You must be 13 years or older to use this application
      li You may not post nude or sexually suggestive photos.
      li You are responsible for any activity that occurs under your name and in your posts.You must not abuse, harass, threaten, impersonate or intimidate other Bum Buddy users.
      li You may not use the Bum Buddy application for any illegal or unauthorized purpose. International users agree to comply with all local laws regarding online conduct and acceptable content.
      li You are solely responsible for your conduct and any data, text, information, photos, profiles, or links ("Content") that you submit, post, and display on the Bum Buddy application.
      li You must not crawl, scrape, or otherwise cache any content from Bum Buddy or Bum Buddy users.
      li must not create or submit unwanted comments to any Bum Buddy users ("Spam").
      li You must not transmit any worms or viruses or any code of a destructive nature.
      li Violation of any of these agreements will result in the termination of your Bum Buddy account. While Bum Buddy prohibits such conduct and content on its application, you understand and agree that Bum Buddy cannot be responsible for the Content posted by it’s users and you nonetheless may be exposed to such materials and that you use the Bum Buddy service at your own risk.
    p
      strong General Conditions
    ol
      li We reserve the right to modify or terminate the Bum Buddy service for any reason, without notice at any time.
      li We reserve the right to alter these Terms of Use at any time. If the alterations constitute a material change to the Terms of Use, we will notify you via internet mail according to the preference expressed on your account. What constitutes a "material change" will be determined at our sole discretion, in good faith and using common sense and reasonable judgement.
      li We reserve the right to refuse service to anyone for any reason at any time.
      li We may, but have no obligation to, remove Content and accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, defamatory, obscene or otherwise objectionable or violates any party's intellectual property or these Terms of Use.
    p
      strong Proprietary Rights in Content on Bum Buddy
    ol
      li Bum Buddy does NOT claim ANY ownership rights in the text, files, images, photos, works of authorship, or any other materials (collectively, "Content") that you post on or through the Bum Buddy Services. By displaying or publishing any Content on or through the Bum Buddy Services, you hereby grant to Bum Buddy a non-exclusive, fully paid and royalty-free, worldwide, limited license to use, modify, delete from, add to, publicly perform, publicly display, reproduce and translate such Content, including without limitation distributing part or all of the content in any media formats through any media channels, except private content, which will not be distributed outside the Bum Buddy Services.
      li Some of the Bum Buddy Services are supported by advertising revenue and may display advertisements and promotions, and you hereby agree that Bum Buddy may place such advertising and promotions on the Bum Buddy Services or on, about, or in conjunction with your Content. The manner, mode and extent of such advertising and promotions are subject to change without specific notice to you.
      li You represent and warrant that: (i) you own the Content posted by you on or through the Bum Buddy Services or otherwise have the right to grant the license set forth in this section, (ii) the posting and use of your Content on or through the Bum Buddy Services does not violate the privacy rights, publicity rights, copyrights, contract rights, intellectual property rights or any other rights of any person, and (iii) the posting of your Content on the application does not result in a breach of contract between you and a third party. You agree to pay for all royalties, fees, and any other monies owing any person by reason of Content you post on or through the Bum Buddy Services.
      li The Bum Buddy Services contain Content of Users and other Bum Buddy licensors. Except as provided within this Agreement, you may not copy, modify, translate, publish, broadcast, transmit, distribute, perform, display, or sell any Content appearing on or through the Bum Buddy Services.
      li Bum Buddy performs technical functions necessary to offer the Bum Buddy Services, including but not limited to transcoding and/or reformatting Content to allow its use throughout the Bum Buddy Services.
      li Although Bum Buddy Services are normally available, there will be occasions when Bum Buddy Services will be interrupted for scheduled maintenance or upgrades, for emergency repairs, or due to failure of telecommunications links and equipment that are beyond the control of Bum Buddy. Also, although Bum Buddy will normally only delete Content that violates this Agreement, Bum Buddy reserves the right to delete any Content for any reason, without prior notice. Deleted content may be stored by Bum Buddy in order to comply with certain legal obligations and is not retrievable without a valid court order. Consequently, Bum Buddy encourages you to maintain your own backup of your Content. In other words, Bum Buddy is not a backup service. Bum Buddy will not be liable to you for any modification, suspension, or discontinuation of the Bum Buddy Services, or the loss of any Content.

