doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(charset="utf-8")
  body
    div.container-fluid
      nav(class="navbar navbar-expand-lg")
        a.navbar-brand #{title}
        button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#mainmenu", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        div(class="collapse navbar-collapse", id="mainmenu")
    block content
